extends layoutdash

block content
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2 Dashboard
    .btn-toolbar.mb-2.mb-md-0
      .btn-group.me-2
        button.btn.btn-sm.btn-outline-secondary(type='button') Share
        button.btn.btn-sm.btn-outline-secondary(type='button') Export
        
      button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
        i.fa.fa-bar-calendar
        |                         This week
    //- .flex.flex-1.flex-col.mx-2(class='md:flex-row lg:flex-row')
      //-   .shadow-lg.bg-red-vibrant.border-l-8.border-red-vibrant-dark.mb-2.p-2.mx-2(class='hover:bg-red-vibrant-dark md:w-1/4')
      //-     .p-4.flex.flex-col
      //-       a.no-underline.text-white.text-2xl(href='#')
      //-         | $244
      //-       a.no-underline.text-white.text-lg(href='#')
      //-         | Total Sales
      //-   .shadow.bg-info.border-l-8.border-info-dark.mb-2.p-2.mx-2(class='hover:bg-info-dark md:w-1/4')
      //-     .p-4.flex.flex-col
      //-       a.no-underline.text-white.text-2xl(href='#')
      //-         | $199.4
      //-       a.no-underline.text-white.text-lg(href='#')
      //-         | Total Cost
      //-   .shadow.bg-warning.border-l-8.border-warning-dark.mb-2.p-2.mx-2(class='hover:bg-warning-dark md:w-1/4')
      //-     .p-4.flex.flex-col
      //-       a.no-underline.text-white.text-2xl(href='#')
      //-         | 900
      //-       a.no-underline.text-white.text-lg(href='#')
      //-         | Total Users
      //-   .shadow.bg-success.border-l-8.border-success-dark.mb-2.p-2.mx-2(class='hover:bg-success-dark md:w-1/4')
      //-     .p-4.flex.flex-col
      //-       a.no-underline.text-white.text-2xl(href='#')
      //-         | 500
      //-       a.no-underline.text-white.text-lg(href='#')
      //-         | Total Products
      //- // /Stats Row Ends Here
      //- // Card Sextion Starts Here
      //- .flex.flex-1.flex-col.mx-2(class='md:flex-row lg:flex-row')
      //-   // card
      //-   .rounded.overflow-hidden.shadow.bg-white.mx-2.w-full
      //-     .px-6.py-2.border-b.border-light-grey
      //-       .font-bold.text-xl Trending Categories
      //-     .table-responsive
      //-       table.table.text-grey-darkest
      //-         thead.bg-grey-dark.text-white.text-normal
      //-           tr
      //-             th(scope='col') #
      //-             th(scope='col') Item
      //-             th(scope='col') Last
      //-             th(scope='col') Current
      //-             th(scope='col') Change
      //-         tbody
      //-           tr
      //-             th(scope='row') 1
      //-             td
      //-               button.bg-blue-500.text-white.font-light.py-1.px-2.rounded-full(class='hover:bg-blue-800')
      //-                 | Twitter
      //-             td 4500
      //-             td 4600
      //-             td
      //-               span.text-green-500
      //-                 i.fas.fa-arrow-up
      //-                 | 5%
      //-           tr
      //-             th(scope='row') 2
      //-             td
      //-               button.bg-primary.text-white.font-light.py-1.px-2.rounded-full(class='hover:bg-primary-dark')
      //-                 | Facebook
      //-             td 10000
      //-             td 3000
      //-             td
      //-               span.text-red-500
      //-                 i.fas.fa-arrow-down
      //-                 | 65%
      //-           tr
      //-             th(scope='row') 3
      //-             td
      //-               button.bg-success.text-white.font-light.py-1.px-2.rounded-full(class='hover:bg-success-dark')
      //-                 | Amazon
      //-             td 10000
      //-             td 3000
      //-             td
      //-               span.text-red-500
      //-                 i.fas.fa-arrow-down
      //-                 | 65%
      //-           tr
      //-             th(scope='row') 4
      //-             td
      //-               button.bg-blue-500.text-white.font-light.py-1.px-2.rounded-full(class='hover:bg-blue-800')
      //-                 | Microsoft
      //-             td 10000
      //-             td 3000
      //-             td
      //-               span.text-green-500
      //-                 i.fas.fa-arrow-up
      //-                 | 65%
      //-   // /card
      //- // /Cards Section Ends Here
